Source: justix-2dam-pack
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-2dam-pack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, justix-psp-pack, justix-acd-pack
Description: Meta for 2DAM
 Metapackage for all modules in 2nd
 course of DAM.
