Package: justix-external-sources
Version: 0.0.1
Architecture: amd64
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 16
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: External sources for Justix
 External sources for Justix
