Package: justix-pseint
Version: 0.0.1
Architecture: amd64
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 19063
Depends: libc6 (>= 2.15), libgcc1 (>= 1:4.0), libgdk-pixbuf2.0-0 (>= 2.22.0), libgl1, libglib2.0-0 (>= 2.16.0), libglu1-mesa | libglu1, libgtk2.0-0 (>= 2.24.0), libpango-1.0-0 (>= 1.14.0), libpng12-0 (>= 1.2.13-4), libstdc++6 (>= 4.6), libx11-6, zlib1g (>= 1:1.1.4)
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: Binaries for pseint
 Package with pseint binaries.
