Package: justix-acd-pack
Version: 0.0.1
Architecture: amd64
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 9
Depends: nodejs, mongodb-org
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: Meta for ACD module
 Metapackage for ACD Module in 2nd DAM
