Source: justix-psp-pack
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: justix-psp-pack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs
Description: Meta for PSP module
 Metapackage for PSP Module in 2nd DAM
