Source: netbeans
Section: devel
Priority: standard
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://github.com/IesElJust

Package: netbeans
Architecture: any
Depends: ${misc:Depends},libc6
Description: Binaries for netbeans
 Netbeans IDE for Justix
