Package: justix-java-pack
Version: 0.0.1
Architecture: amd64
Maintainer: Jose A. Múrcia <joamuran@gmail.com>
Installed-Size: 9
Pre-Depends: justix-external-sources
Depends: netbeans, default-jre, openjdk-11-jdk
Section: devel
Priority: standard
Homepage: https://github.com/IesElJust
Description: Java justix pack
 Metapackage for Common Java Developement
 tools for Justix.
